* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

canvas {
  height: 100vh;
  width: 100vw;
  display: block;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 8vmax;
  background-color: rgba(147, 193, 252, 0.7);
  padding: 1vmax 0.3vmax;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.divPaint {
  display: flex;
  flex-direction: row;
  position: fixed;
  padding-left: 2%;
  background-color: rgba(147, 193, 252, 0.7);
  width: 100vw;
  height: 3.5vmax;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  z-index: 5;
  align-items: center;
}

.button,
.catalog {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 0.75vw;
  margin: 1vh 0;
  width: 3.8vmax;
  height: 3.8vmax;
  cursor: pointer;
  position: relative;
  align-items: center;
  box-sizing: border-box;
}

.size-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2.9vmax;
  height: 2.9vmax;
  cursor: pointer;
  align-items: center;
  box-sizing: border-box;
  margin: 0 0.8vw
}

.catalog {
  font-size: 0.75vw;
}

.button:hover,
.size-button:hover,
.catalog:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.buttons .submenu {
  display: none;
  padding: 5px 15px;
  cursor: pointer;
  position: absolute;
  background-color: rgba(147, 193, 252, 0.7);
  left: 3.7vmax;
  top: 0;
  z-index: -10;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.buttons .submenu .sub {
  display: none;
  flex-wrap: wrap;
  padding: 1vmax;
  width: 14.4vmax;
  cursor: pointer;
  position: absolute;
  background-color: rgba(147, 193, 252, 0.7);
  left: 3.6vmax;
  top: 0;
  z-index: -10;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.button span {
  text-align: center;
}

.btn_img {
  vertical-align: middle;
  width: 65%;
  height: 65%;
}

.btnImg {
  vertical-align: middle;
  width: 2.3vmax;
}

/* html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
} */

#prompt-form {
  display: inline-block;
  padding: 15px 15px 15px 70px;
  width: 300px;
  border: 2px solid blue;
  background: rgb(197, 211, 255) url(../img/getPlot.png) no-repeat 10% 50%;
  background-size: 15%;
  vertical-align: middle;
}

#prompt-form-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

#prompt-form-container:before {
  display: inline-block;
  height: 100vh;
  content: '';
  vertical-align: middle;
}

#cover-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  opacity: 0.3;
}

#prompt-form input[type='text'] {
  width: 8vw;
} 

 /* #prompt-form input {
  margin-top: 10px;
  height: 18px;
} */

.login {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 102, 235);
  font-size: 3vmin;

}

.loginWindow {
  position: absolute;
  padding: 10px;
  background-color: rgba(147, 193, 252, 0.7);
  top: 3.1vmax;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: none;
}

.exit {
  padding: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  margin: 1vh auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 102, 235);
  font-size: 2.5vmin;
  text-align: center;
}

#personal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#personal-container:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

#person-form {
  font-size: 1.7vw;
  display: inline-block;
  padding: 1vw 1vw 1vw 9vw;
  width: 22vw;
  border: 2px solid blue;
  background: rgb(197, 211, 255) url(../img/person.png) no-repeat 10% 50%;
  background-size: 15%;
  vertical-align: middle;
}

#person-form input,
#prompt-form input {
  margin: 1vh 0.5vw 0;
  padding: 0.4vh 2.5vh;
}
#mail, #login, #Pass {
  width: 12vw;
}
.logo,
.about {
  font-size: 2.5vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: rgb(0, 102, 235);
  margin-left: 8%;
  cursor: pointer;
}
.logo:hover,
.about:hover {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5)
}
.person {
  margin-right: 2vw;
  margin-left: 20vw;
}
.imgDemo1,
.imgDemo2,
.imgDemo3,
.imgDemo4 {
  position: absolute;
  width: 40px;
}
.imgDemo1 {
  left: 150px;
  top: 100px;
  cursor: pointer;
}
.imgDemo2 {
  right: 80px;
  top: 100px;
  cursor: pointer;
}
.imgDemo3 {
  right: 80px;
  bottom: 100px;
  cursor: pointer;
}
.imgDemo4 {
  bottom: 100px;
  left: 150px;
  cursor: pointer;
}
.imgDemo1:hover,
.imgDemo2:hover,
.imgDemo3:hover,
.imgDemo4:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.readme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 130px);
  top: calc(50% - 60px);
  width: 260px;
  height: 120px;
  border: 2px solid blue;
  background: rgb(197, 211, 255) url(../img/person.png) no-repeat 10px 50%;
  background-size: 15%;
  display: none;
  padding-left: 65px;


}

.readmeText {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: blue;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.readme input {
  padding: 3px 15px;
}

.SPAmenu {
  width: 100vw;
  display: flex;
  align-items: center;
  height: 3.5vmax;
  position: fixed;
  background-color: rgba(147, 193, 252, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  z-index: 10;
}

#IPage {
  position: fixed;
  top: 3.5vmax;
  height: 100vh;
  width: 100vw;
  background-color: rgba(202, 200, 200, 0.2);
}

.about_text {
  margin-top: 4vmax;
  padding: 1%;
  /* text-indent: 4%; */
  display: flex;
  flex-direction: column;
  position: fixed;
  left: calc(50% - 25%);
  width: 50%;
  background-color: rgba(147, 193, 252, 0.2);
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(27, 27, 114);
  font-size: 3vmin;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.picture1 {
  width: 17vw;
  position: fixed;
  left: 5%;
  top: 8vmax;
  z-index: 5;
  animation: my-animation 2s;
  transform: translateZ(0);
}

.picture2 {
  width: 17vw;
  position: fixed;
  left: 5%;
  bottom: 4vmax;
  animation: my-animation 2s;
  transform: translateZ(0);
}

.picture3 {
  width: 17vw;
  position: fixed;
  right: 5%;
  bottom: 4vmax;
  animation: my-animation 2s;
  transform: translateZ(0);
}

.picture4 {
  width: 17vw;
  position: fixed;
  right: 5%;
  top: 8vmax;
  animation: my-animation 2s;
  transform: translateZ(0);

}


@keyframes my-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes my-animation1 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.templates {
  margin-left: 15vw;
}


